<!DOCTYPE html>
<html style="background: #000; color: #fff;">
<head>
    <style type="text/css">
        html:before {
            content: "Loading...";
            color: #fff;
            font-size: 28px;
            line-height: 1.42;
            margin:20px 40px;
            font-family: monospace;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
    <title>My Siacoin | Unofficial cold storage wallet generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Easily generate and download a cold storage paper wallet for Siacoin." />
    <meta name="keywords" content="sia, siacoin, $sc, hodl, altcurrencies, bitcoin, ethereum , cryptocurrencies, blockchain, storage, amazon, s3, aws" />
    <meta name="author" content="Rocco Augusto (@therocco)" />
    <meta name="twitter:card" value="summary">
    <meta name="twitter:creator" content="@mysiacoin">
    <meta property="og:title" content="My Siacoin | Unofficial cold storage wallet generator" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://mysiacoin.com/" />
    <meta property="og:image" content="http://mysiacoin.com/img/hero-min.png" />
    <meta property="og:description" content="Easily generate and download a cold storage paper wallet for Siacoin." />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#00cba0ff">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body style="display:none; opacity:0;">
    <div id="content"></div>
    <script src="https://cdn.rawgit.com/roccstar/sia-coldstorage-json/master/build/sia-coldstorage-json.min.js"></script>
    <script src="/js/app.js" defer></script>
</body>
</html>
