footer {
    font-size: 11px;
    font-family: monospace;
    background: rgba(0,0,0,0.6);
    position: relative;
    z-index: 100;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: right;

    a {
        color: #fff;
    }

    span {
        padding: 0 5px;

        &:not(:last-child):after {
            content: " | ";
            @media screen and (max-width:800px) {
                content: "";
            }
        }
        @media screen and (max-width: 800px) {
            padding: 0 16px;
            display: block;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;

            strong {
                display: block;
            }
        }
    }
}
