@import 'animations';
@import 'toolbar';
@import 'hero';
@import 'footer';

:root {
    --reset: 0;
    --bodyBg: #eee;
    --color: #292929;
    --padding: 16px;
    --red: #f50057;
    --green: #00cba0;
    --round: 3px;
    --displaySmall: 640px;
    --displayLarge: 980px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: rgba(0,0,0,0.8);
}

html, body, #content, .app-container {
    height: 100%;
}

div, section, header, nav, ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}
