@media print {
     @import'print';
}
@media screen {
     @import'reset';

    *:active,
    *:focus {
        outline: none;
    }

    body,
    html {
        margin: var(--reset);
        padding: var(--reset);
        background: var(--bodyBg);
        overflow: hidden;
    }

    body {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
        line-height: 1.42;
        overflow: hidden;
        color: var(--color);
        overflow-y: scroll;
        opacity: 1;
    }

    a {
        text-decoration: none;
        color: var(--color);
    }

    h2 {
        margin: 0 0 10px;
        color: var(--green);
    }

    button {
        font-size: 16px;
        padding: 15px;
        background: var(--green);
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .hidden {
        display: none;
        opacity: 0;
    }

    .mobile {
        display: none;
        @media screen and (max-width: 1200px) {
            display: block;
        }
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        clear: both;
    }

    .card {
        width: calc(100% - 32px);
        font-size: 14px;
        background: #fff;
        border-radius: var(--round);
        box-shadow: 0 0 25px rgba(0,0,0,0.6);
        padding: 16px 0;
        right: 0;
        margin: 0 auto;
        color: #292929;
        display: block;
        position: relative;
        z-index: 10;
        vertical-align: text-top;
        text-align: center;

        img {
            max-width: 250px;
            height: auto;
        }
        @media screen and (max-width: 1200px) {
            width: calc(100% - 16px);
            padding: 8px 0;
            margin: 0 auto;
        }
        @media screen and (max-width: 320px) {
            width: calc(100% - 16px);
            padding: 8px 0;
        }
    }

    .column {
        width: calc(40% - 32px);
        margin: 0 16px;
        display: inline-block;
        vertical-align: text-top;

        &:not(:first-child) {
            width: calc(55% - 32px);
        }
        @media screen and (max-width: 1200px) {
            width: calc(100% - 32px);

            &:not(:first-child) {
                width: calc(100% - 32px);
            }
        }
    }

    .seed,
    small {
        background: #eee;
        line-height: 25px;
        display: inline-block;
        padding: 5px;
        text-align: center;
        border-radius: var(--round);
        font-family: monospace;
        @media screen and (max-width: 640px) {
            font-size: 12px;
        }

        span {
            display: block;
            padding: 5px;
            border-bottom: 1px dotted #fff;
            letter-spacing: 1px;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
            }
            @media screen and (max-width: 640px) {
                word-wrap: break-word;
                word-break: break-all;
                text-align: center;
            }
        }
    }

    .seed {
        font-size: 16px;
        font-weight: bold;
        color: var(--red);
    }
}
